<%= link_to recipe_path(recipe) do %>
  
  <div id="<%= dom_id recipe %>" class="dom-recipe-class">
    <div class="recipe-display">
      <p>
        <strong><%= recipe.name %></strong>
      </p>
      <p>
      <strong>By:</strong><%= recipe.user.email %>
      </p>
    </div>
    <div class="recipe-desc">
      <p>
        <strong>Total food item:</strong>
        <%= recipe.recipe_foods.length %>
      </p>
      <p>
        <strong>Total price:</strong>
        <%= recipe.recipe_foods.sum(:food_id_id) %>
      </p>
    </div>
  </div>
<% end %>
