<div id="<%= dom_id recipe %>" class="dom-recipe-class2">

  <p class = "show_name"><strong><%= recipe.name %></strong></p>

  <div class = "show-display">
    <div class = "recipe-time">
      <p>Preparation time: <%= recipe.preparation_time %> </p>
      <p>Cooking time: <%= recipe.cooking_time %> </p>
      <p>Steps go here...</p>
    </div>
    <div class="public-label">
      <h2 class = "public"><strong>Public:</strong> </h2>
      <p class="public-button <%= @recipe.public ? 'public-true' : 'public-false' %>"></p>
    </div>
  </div>
  <div class = "show-buttons">
    <button>Generate Shopping List</button>
    <button>Add Ingredient</button>
  </div>
</div>
