<%= render partial: 'recipeshow', locals: { recipe: @recipe } %>

<!-- app/views/recipes/show.html.erb -->
<!-- ... existing content ... -->

<!-- Table of recipe foods -->
<h2>Recipe Foods</h2>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Add Recipe Food button -->
<%= link_to 'Add Recipe Food', new_recipe_recipe_food_path(@recipe) %>

<!-- ... rest of the content ... -->


<div class = "other-links">
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
