
<h1 class='title'>Foods</h1>
<%= render 'shared/button', btnName: 'New food', btnClass: 'btn btn_cta btn_cta_new btn_cta_new_right', btnPath: new_food_path %>
<p>Amount of food to buy: <%= @shoppings.length %></p>
<p>Total value of food needed: <%= @shoppings.map { |hash| hash[:price] }.sum %></p>
<div id="foods">
  <table class="the_table">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>

      <% @shoppings.each do |food| %>
  
          <tr>
            <td><%= food[:name] %></td>
            <td><%= food[:quantity] %></td>
            <td>$<%= food[:price] %></td>
          </tr>
      <% end %>
  </table>
</div>
