<!-- app/views/recipe_foods/_form.html.erb -->
<%= form_with(model: [@recipe, @recipe_food]) do |form| %>
  <% if @recipe_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe food from being added:</h2>

      <ul>
        <% @recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :food_id_id, 'Food Type', style: "display: block" %>
    <%= form.collection_select :food_id_id, @foods, :id, :name, prompt: 'Select Food Type' %>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
